<div class=container>
    <div class="row">
      <div class="col-md-12">
        <img src="/assets/img/burger.jpg" alt="Burger" height="300px">
        <h2>Eat-Da-Burger</h2>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-4">
        <h5>Menu</h5>

          {{#each burgers}}
            {{#unless this.devour}}
                <div class="burgerMenu">
                  <form action="/burgers/{{this.id}}?_method=PUT" method="POST">
                    {{this.burger_name}}
                    <button type="submit" id="devour">Devour It!</button>
                  </form> 
                </div>

            {{/unless}}
          {{/each}}
        
      </div>


      <div class="col-md-4">
        <h5>Devoured</h5>
       
          {{#each burgers}}
            {{#if this.devour}}              
              <div>
                <form action="/burgers/{{this.id}}?_method=DELETE" method="POST">
                  <button type="submit" class="burgerDevoured">{{this.burger_name}}</button>
                </form>
              </div>  
            {{/if}}
          {{/each}}
        
      </div>
    </div>


  <h5>Add New Burger</h5>
   <div class="row">
    <div class="col-md-4">

      <p class="text-center"><strong>Order an awesome burger!</strong></p>

      <form action="/burgers" method="POST">
        
        <input type="text" id="burg" name="burger_name" placeholder="Create Delicious Burger">
        <button id="addBurger" type="submit">Order Burger!</button>
        
      </form>


    </div> 
  </div>

</div>